export FIREBASE_PROJECT_ID=a-project
export FIREBASE_APP_ID=an-app
export FIREBASE_API_KEY=a-key
export FIREBASE_AUTH_DOMAIN=a-domain
export FIREBASE_STORAGE_BUCKET=a-bucket
export FIREBASE_MESSAGING_SENDER_ID=a-sender-id
export FIREBASE_USE_EMULATORS=true