
# Configuration files
.envrc
.firebaserc
webApp/src/jsMain/resources/firebase-config.json

# Local firebase data
.firebase
emulator-data/
firebase-debug.log
firestore-debug.log

# Other stuff
*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
