rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return get(/databases/(default)/documents/users/$(request.auth.uid)).data.admin == true;
    }
    match /public/{docId} {
      allow read: if true;
      allow write: if false;
    }
    match /{document=**} {
      allow read, write: if isAdmin();
    }
  }
}
