<div class="flow-list">
  Flows available:<br/>
  @for (item of flows(); track $index) {
    <div class="flow-item">
      <mat-icon [style.cursor]="'pointer'"
                (click)="toggleFlow(item)"
                aria-hidden="false" aria-label="icon"
                [fontIcon]="isExcluded(item) ? 'visibility_off' : 'visibility'"
      ></mat-icon>
      <mat-icon [style.cursor]="'pointer'"
                (click)="editFlow(item)"
                aria-hidden="false" aria-label="icon"
                [fontIcon]="'edit'"
      ></mat-icon>
      <span [class]="isExcluded(item) ? 'flow-excluded' : 'flow-included'">
        {{ describe(item) }}
      </span>
    </div>
  }
</div>
